<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Homepage</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="css/sidebar-menu.css">
  <link rel="stylesheet" href="css/homepage.css">
  <link href="/docs/5.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

</head>

<body>

  <main>

    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          </ul>
          <div class="text-end">
            <a class="hide_UnderLine btn btn-outline-light me-2" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </header>

  </main>

  <!-- ######### Sidebar ############# -->
  <section style="width: 200px;">
    <ul style="margin-top: 70px;" class="sidebar-menu vertical-menu">
      <li class="sidebar-header">
        <h3 style="color:white">Datasets</h3>
      </li>
      <li>

        <div style="margin-top: 0px;" class="box">

          <% newListItems.forEach(function(dataset) {%>

          <form action="/delete" id="delete" method="post">
            <div class="item">


              <input type="checkbox" name="dataset" value="<%=dataset%>" onchange="this.form.submit()">

              <a href="#">
                <p class="dataset" value="dataset"><%=dataset%></p>
              </a>

            </div>
          </form>
          <%})%>

          <form action=" /create" class="create" enctype="multipart/form-data" method="post">
            <hr>
            <label for="formFile" class="form-label">Enter Dataset name</label>
            <input class="form-control form-control-sm" type="text" name="datasetName" placeholder="New Dataset" autocomplete="off" required>
            <div class="mb-3">
              <label for="formFile" class="form-label">Select CSV file</label>
              <input class="form-control" type="file" name="file" id="formFile" required>
            </div>
            <button type="submit" name="list" class="btn btn-primary">Create</button>
          </form>
        </div>
      </li>
    </ul>

</body>

</html>